# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Code\System-Integration\Assignments\A10-Microservices_Discovery_and_Orchestration\MicroservicesCarCatalog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
